[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8="*"
coverage="*"
pytest="*"
Sphinx="*"

[packages]
requests="*"
typing-extensions="*"

[requires]
python_version = "3.7"
