[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
eapi-py = {path = ".", editable = true, extras = ["tests"]}
autopep8="*"
coverage="*"
pytest="*"
pytest-asyncio="*"
Sphinx="*"
uvicorn="*"

[packages]
httpx="*"
typing-extensions="*"
click="*"

[requires]
python_version = "3.7"
